.payment-history {

  ul {
    list-style: none;
    padding: 0;
    li {
      border-bottom: 1px solid lightgrey;

      padding: 10px;
    }
    .time {
      color: #aeaeae;
    }
    .value {
      float: right;
      margin-right: 5px;
      font-weight: bold;
      color: green;
    }
    .delete-payment {
      background-color: #f44336;
    }
    .red{
      color: #f44336;
    }
  }
}