body {
  font-size: 14px;
  font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  li {
    border-bottom: 1px solid lightgrey;

    padding: 10px;
  }
  .time {
    color: #aeaeae;
  }
  .value {
    float: right;
    margin-right: 5px;
    font-weight: bold;
    color: green;
  }
  button {
    margin-top: 10px;
    padding: 7px;
    color: white;
    border-style: none;
  }
  .delete-payment {
    background-color: #f44336;
  }
}

h1 {
  text-align: center;
}

form {
  text-align: center;
  input {
    width: 300px;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
  }
  #importiert {
    width: initial;
  }
}

.imported {
  font-size: 12px;
  width: 60px;
  border-radius: 3px;
  background-color: #aeaeae;
  color: white;
  text-transform: uppercase;
}