<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Payment-history</title>
    <link href="styles.css" rel="stylesheet">
    <script src="all.js"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1">

</head>
<body>
<div class="page-wrapper"></div>
<script type="text/template" id="listTemplate">
    <ul>
        <% for(var i=0; i<paymentItems.items.length; i++) {%>
            <li class='list-item'>
                <div class="description"><%=paymentItems.items[i].description%></div>
                <span class="time"><%=paymentItems.items[i].time%></span>
                <% if (paymentItems.items[i].isImported !== false) { %>
                <span class="imported">Importiert</span>
                <% } %>
            </li>
        <% } %>
    </ul>
</script>

</body>
</html>